[user]
	email = ole.orhagen@northern.tech
	name = Ole Petter
	signingkey = 399DBE0F4D4B02EB

[alias]
	lg = log --all --oneline --graph --decorate
	a = add
	cm = commit
	s = status
	pr = "!f() { git fetch $1 pull/$2/head:pull_$2; git checkout pull_$2; }; f"

[color]
	ui = auto
[github]
	oauth-token = 5f9db8b96623a199d3c30afaddbcc00f7418dac8
	user = oleorhagen
[commit]
	gpgsign = true
	template = /home/olepor/dotfiles/git-commit-template.txt
[core]
	editor = vim
	excludesFile = ~/.gitignore
[filter "nt_update_copyright_header"]
	clean = /home/olepor/dotfiles/scripts/nt_update_copyright_header
[init]
	templatedir = ~/.git_templates/template

# [remote "mendersoftware"]
	#fetch = +refs/pull/*/head:refs/remotes/mendersoftware/pr/*
[mailmap]
	file = /home/olepor/go/src/github.com/mendersoftware/integration/extra/gitdm/mailmap
[gpg]
	program = gpg2
