[user]
	email = ole@orhagen.no
	name = Ole P. Orhagen
	# signingkey = 399DBE0F4D4B02EB

[commit]
	gpgsign = false
	template = ~/.files/git-commit-template.txt

# TODO - https://git-scm.com/docs/git-config#_includes
# Maybe I should start using this (?)
[includeIf "gitdir:~/src/**"]
  path = ~/.config/git/cisco

[sendemail]
	smtpServer = smtp.gmail.com
	smtpServerPort = 587
    	smtpEncryption = tls
    	smtpUser = ole@orhagen.no

[alias]
	lg = log --all --oneline --graph --decorate
	a = add
	cm = commit
	s = status
	pr = "!f() { git fetch $1 pull/$2/head:pull_$2; git checkout pull_$2; }; f"

	# list files which have changed since REVIEW_BASE
	# (REVIEW_BASE defaults to 'master' in my zshrc)
	files = !git diff --name-only $(git merge-base HEAD \"${REVIEW_BASE:-master}\")

	# Same as above, but with a diff stat instead of just names
	# (better for interactive use)
	stat = !git diff --stat $(git merge-base HEAD \"${REVIEW_BASE:-master}\")

	# Open all the files changed in this PR in emacs
	review = !git todo

[color]
	ui = auto

[github]
	oauth-token = 5f9db8b96623a199d3c30afaddbcc00f7418dac8
	user = oleorhagen

[core]
	editor = vim
	excludesFile = ~/.gitignore
	fsmonitor = true
	untrackedCache = true

[init]
	templatedir = ~/.git_templates/template
	defaultBranch = master

# [remote "mendersoftware"]
	#fetch = +refs/pull/*/head:refs/remotes/mendersoftware/pr/*
[mailmap]
	file = /home/olepor/release/3.3.0/integration/extra/gitdm/mailmap

[gpg]
	program = gpg2

[pager]
    #diff = delta
    #log = delta
    #reflog = delta
    #show = delta

[interactive]
    #diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

[pull]
	ff = only
	rebase = true

# All from https://blog.gitbutler.com/how-git-core-devs-configure-git/
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[diff]
	# A better patient algorithm
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[push]
	default = simple
	autoSetupRemote = true # Create the branch on the remote if it does not exist
	# followTags = true # Automatically pushes tags
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	autoStash = true
	#updateRefs = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[blame]
	markIgnoredLines = true
	markUnblamableLines = true
